SECRET_KEY=
POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=
DB_USER=
DB_PASSWORD=
DB_HOST=
DB_PORT=
DB_NAME=
GOOGLE_REDIRECT_URI=
GOOGLE_API_KEY=

CPLUS_INCLUDE_PATH=/usr/include/gdal
C_INCLUDE_PATH=/usr/include/gdal
GDAL_LIBRARY_PATH=/usr/lib/libgdal.so

GEOAPIFY_BASE_URL=
GEOAPIFY_API_KEY=


EMAIL_HOST=
EMAIL_PORT=
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=
EMAIL_USE_TLS=
DOTENV_FILENAME=
DEFAULT_FROM_EMAIL=
ALLOWED_HOSTS=
ALLOWED_ORIGINS=
CSRF_TRUSTED_ORIGINS=
FLUTTERWAVE_BASE_URL=
FLUTTERWAVE_SECRET_KEY=
FLUTTERWAVE_CLIENT_ID=
FLUTTERWAVE_CLIENT_SECRET=
FLUTTERWAVE_OAUTH_URL=
FLUTTERWAVE_DYNAMIC_VIRTUAL_ACCOUNT_EXPIRY=
FLUTTERWAVE_ACCESS_TOKEN=
DOTENV_FILENAME=
FERNET_TOKEN_KEY=
HMAC_KEY=