{% extends "base.html" %}
{%block title%} New Transaction Interest{% endblock %}
{%block header%}{%endblock%}
{%block style%}
<style type="text/css">
    .body {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        padding: 20px;
        text-align: left;
    }
    .txn__info {
        display: table;
        margin-top: 20px;
        width: 100%;
        border-collapse: collapse;
        background-color: #f9f9f9;
        color: #333;
    }
</style>
{%endblock%}

{% block content %}
<div class="body">
    <h1 class="salutation">Good news {{ client_name }}!</h1>
    <p class="message">Vendor {{ vendor_name }} has already accepted, and is preparing your transaction at the moment.</p>
    <p class="details">The vendor will contact you shortly!</p>
    <p class="contact-vendor">
        You can also call the vendor via: {{ vendor_phone_number }}
    </p>
</div>
{%endblock%}